* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f5ff;
}

/* Navigation Bar */

.navbar {
  width: 85%;
  height: 92px;

  margin: 25px auto 0;

  background-color: #6c4ab6;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  border-radius: 6px;
}

.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 45px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.nav-links a:hover {
  color: #e8ddff;
}

/* Page Card */

.page {
  width: 72%;
  min-height: 470px;

  margin: 50px auto;

  padding: 45px;

  background-color: white;

  border: 2px solid #ddd5ef;
  border-radius: 18px;

  box-shadow: 0 4px 15px rgba(108, 74, 182, 0.08);
}

.page h1 {
  color: #6c4ab6;
  font-size: 32px;

  margin-top: 0;
}

.page p {
  color: #514760;

  font-size: 21px;
  line-height: 1.6;
}

/* Student List */

.page ul {
  padding-left: 25px;
}

.page li {
  color: #2d2142;

  font-size: 20px;

  margin: 15px 0;
}

/* View Students Button */

.page button {
  margin-top: 120px;

  background-color: #6c4ab6;

  color: white;

  border: none;
  border-radius: 8px;

  padding: 14px 26px;

  font-size: 19px;
  font-weight: bold;

  cursor: pointer;
}

.page button:hover {
  background-color: #553798;
  transform: translateY(-2px);
}