* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f5ff;
}

.app {
  min-height: 100vh;
}

/* Navigation Bar */

.navbar {
  width: 85%;
  height: 92px;
  margin: 25px auto 0;

  background-color: #6c4ab6;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  border-radius: 6px;
}

.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 65px;
}

.nav-links span {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Main Content */

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

/* Profile Card */

.profile-card {
  width: 72%;
  min-height: 475px;

  background-color: #ffffff;

  border: 2px solid #ddd5ef;
  border-radius: 18px;

  padding: 38px 50px;

  box-shadow: 0 4px 15px rgba(108, 74, 182, 0.08);
}

/* Input Rows */

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.input-row label {
  width: 90px;

  color: #2d2142;
  font-size: 25px;
  font-weight: normal;
}

.input-row input {
  width: 300px;

  color: #2d2142;             
  background-color: white;     

  border: none;
  border-bottom: 2px solid #6c4ab6;

  outline: none;

  font-size: 22px;
  padding: 5px 3px;
}

.input-row input::placeholder {
  color: #8b829b;
}

.input-row input:focus {
  border-bottom: 3px solid #553798;
}

/* Saved Name */

.saved-name {
  color: #2d2142;
  font-size: 25px;

  margin-top: 5px;
  margin-bottom: 25px;
}

/* Instruction */

.instruction {
  color: #514760;
  font-size: 25px;

  margin-top: 0;
}

/* Buttons */

.button-container {
  display: flex;
  gap: 20px;

  margin-top: 105px;
}

.button-container button {
  background-color: #6c4ab6;

  color: white;

  border: none;
  border-radius: 8px;

  padding: 13px 25px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

.button-container button:hover {
  background-color: #553798;
  transform: translateY(-2px);
}